/* text animation */
@keyframes animated-text
  from
    width: 0
  to
    width: 480px

/* cursor animations */
@keyframes animated-cursor
  from
    border-bottom-color: rgba(0,255,0,.75)
  to
    border-bottom-color: transparent

.page-template-page-home
  .section-intro
    .section__subtitle
      line-height: 44px
      span
        color: $main-color

.section-hero
  display: flex
  justify-content: center
  align-items: center
  min-height: 100vh
  background: $main-color
  //background: linear-gradient(180deg, $main-color 1%, $bg-color 90%)
  background: linear-gradient(180deg, rgba(18,35,43,1) 0%, rgba(0,204,204,1) 50%, rgba(248,248,248,1) 100%)
  &__row
    padding: 150px 0 100px
  &__title
    font-size: 72px
    font-weight: bold
    line-height: 71px
    color: $dark-color
    span
      &:nth-child(1)
        color: $bg-color
        margin-left: 50%
        transform: translateX(-60%)
        display: inline-block
  .section__title, .section__subtitle, .section__description, .section__description > p, .section__btn
    color: $dark-color
  .section__btn
    position: absolute
    bottom: 40px
  


.section-form
  padding-top: 100px
  padding-bottom: 140px
  background-color: $main-color
  color: $text-color
  .section__title
    color: $dark-color
  .section__subtitle
    line-height: 44px
    margin-bottom: 60px
    color: $dark-color
  .bg-logo
    display: flex
    svg
      opacity: .16
      fill: $bg-color



.section-blog
  padding-top: 100px
  padding-bottom: 100px
  .section__subtitle
    margin-bottom: 0
    &--wrapper
      margin-bottom: 60px

@include media-breakpoint-down(xl)
  .section-hero
    &__title
      font-size: 54px
      line-height: 60px
      span
        &:nth-child(1)
          margin-left: 0
          margin-right: 10%
          float: right

  .section-form
    .bg-logo
      position: absolute
      right: 0
      display: flex
      justify-content: flex-end
      svg
        max-width: 100%

@include media-breakpoint-down(sm)
  .section-hero
    &__title
      font-size: 34px
      line-height: 40px
      span
        &:nth-child(1)
          margin-right: -10%