.section-start-project.section-form
    display: flex
    justify-content: center
    align-items: center
    padding: 150px 0
    background: $main-color
    background: linear-gradient(180deg, $main-color 1%, $bg-color 90%)
    color: $text-color
    .wpcf7
        .wpcf7-form
            label
                span:nth-child(1)
                    display: block
                    margin-bottom: 10px
                span:nth-child(2)
                    margin-bottom: 30px
    .section__subtitle
        line-height: 44px
        margin-bottom: 60px
        color: $text-color