.main-footer
  .footer-title
    font-size: 16px
    letter-spacing: 0.7998px
    text-transform: uppercase
    margin-bottom: 30px
    color: $bg-color
  .footer-left
    padding-top: 75px
    padding-bottom: 60px
    padding-left: 15%
    background-color: $dark-color
    color: $bg-color
    svg
      max-width: 40px
      height: auto
      margin-bottom: 40px
      fill: $main-color
    .address
      display: flex
      margin-bottom: 40px
      &__ch
        margin-right: 60px
      &__title
        font-size: 14px
        font-weight: 500
        letter-spacing: 0.3999px
        color: $main-color
      p
        font-size: 14px
        letter-spacing: 0.36px
    &-bottom
      .copyright
        font-size: 12px
        font-weight: 400
        letter-spacing: 0.6px
        margin-bottom: 0
        color: $dark-accent
  .footer-right
    padding-top: 75px
    padding-bottom: 60px
    padding-left: 80px
    background-color: $main-color
    color: $dark-color
    .contacts
      display: flex
      flex-direction: column
      a
        display: inline-block
        font-family: $main-font
        font-weight: 300
        font-size: 14px
        line-height: 25px
        letter-spacing: 0.36px
        text-decoration: none
        color: $dark-color
