.home
    .title__black, .title__bright
        &::before
            content: ""
            position: absolute
            bottom: 14px
            left:-40px
            height: 46px
            width: 46px
            background-color: $main-green

.section-intro
    &__image
        .size-full
            width: 100%
            height: auto
    &__row
        background-color: $main-grey
        padding: 50px 0
        .text__bright
            max-width: 500px
        .btn__green
            float: right
            position: fixed
            bottom: 40px
            right: 70px
            z-index: 9
            display: flex
            align-items: center
            svg
                width: 100%
                max-width: 17px
                margin-right: 10px
                fill: $main-grey
    &__header_logo
        position: absolute
        left: 0

.section-leistungen
    &__image
        .size-full
            width: 100%
            height: auto
    .column
        &__wrapper
            float: right
    &__row
        background-color: $main-bright
        padding: 0
    &__col-left
        padding: 100px 80px
        .title__black
            text-transform: uppercase
            margin-bottom: 100px
        .text__dark
            max-width: 370px
    &__col-right
        padding: 100px 80px
        background-size: cover !important
        ul
            list-style: none
            padding: 0
            li
                margin-bottom: 15px
                a
                    font-family: $nimbus-font
                    font-size: 34px
                    font-weight: 900
                    text-transform: uppercase
                    text-decoration: none
                    color: $main-bright
                    &:hover
                        border-bottom: 10px solid $main-green

.section-projekte
    &__image
        position: relative
        .size-full
            width: 100%
            height: auto
    &__row
        background-size: cover !important
        padding: 100px 0
    .title__bright
        text-transform: uppercase
        margin-bottom: 150px
    .text__bright
        max-width: 370px
    &__col-right
        padding: 0 80px
    &__logo
        width: 47px
        height: 33px
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)

.section-uberuns
    &__image
        .size-full
            width: 100%
            height: auto
    .column
        &__wrapper
            float: right
    &__row
        background-color: $main-bright
        padding: 100px 0px 200px 0
    &__col-left
        padding: 0 80px
        .title__black
            text-transform: uppercase
            margin-bottom: 100px
        .text__dark
            max-width: 370px
    &__col-right
        padding: 0 0 0 80px
        background-size: cover !important
        margin-top: -230px

.section-partnersmap
    &__row
        padding: 100px 0
        background-color: $main-grey
    &__title
        font-size: 18px
        font-weight: bold
        color: $main-bright
        text-transform: uppercase

/* RESPONSIVE */
@include media-breakpoint-down(lg)
    .section-intro
        &__row
            padding-left: 15px
            padding-right: 15px
            .btn__green
                display: none
    
    .section-leistungen
        &__col-left
            padding: 40px 15px 50px
            .title__black
                margin-bottom: 50px
            .text__dark
                margin: 0 auto 50px auto
            .btn__white
                display: block
                max-width: 241px
                margin: 0 auto
        &__col-right
            padding: 40px 15px 50px
            text-align: center
            ul
                li
                    a
                        font-size: 24px
        .column__wrapper
            float: none

    .section-projekte
        &__row
            padding: 40px 15px 50px
        &__col-right
            padding: 0
        &__col-left
            order: 2
            margin-top: 20px
            .column__wrapper
                text-align: center
        .title__bright
            margin-bottom: 50px
        .text__bright
            margin: 0 auto 50px auto

    .section-uberuns
        &__row
            padding: 40px 15px 50px
        &__col-left
            padding: 0
            .column__wrapper
                float: none
                margin-bottom: 40px
            .title__black
                margin-bottom: 50px
            .text__dark
                margin: 0 auto 50px auto
            .btn__white
                display: block
                max-width: 241px
                margin: 0 auto
        &__col-right
            margin-top: 0
            padding: 0
            text-align: center
            img
                width: 100%
                height: auto
                max-width: 432px

    .section-partnersmap
        &__row
            padding: 40px 15px 50px

    .home
        .title__black::before,
        .title__bright::before
            bottom: 5px
            left: -21px
            height: 24px
            width: 24px
