/*Header*/
#main-header
  transition: $main-transition
  z-index: 99
  .site-branding
    background-color: #231f20
    width: 100%
    padding: 20px 0px
    .site-logo
      .custom-logo-link
        display: inline-block
        img
          max-width: 225px
          width: 100%
          height: auto
          object-fit: cover
    .socials-wrapper
      display: flex
      .social-link 
        display: block
        svg
          fill: #706d6d
          background: transparent
          height: 27px
          margin: 0 5px
          padding: 5px
          width: 27px
          border: 1px solid #505050
          transform: $main-transition
        &:hover
          svg
            fill: #d5d5d5
            border: 1px solid #d5d5d5
    .navbar-toggler
      position: relative
      display: flex
      flex-direction: column
      justify-content: space-between
      border: none
      border-radius: 0px
      padding: 0px 0px
      margin: 0px
      overflow: hidden
      span
        display: block
        width: 40px
        height: 4px
        margin: 3px 0px
        background-color: $main-grey
        transition: $main-transition
    .navbar-toggler[aria-expanded="true"]
      span
        &:nth-child(1)
          transform: rotate(-45deg) translate(-7px, 7px)
        &:nth-child(2)
          transform: translateX(100px)
        &:nth-child(3)
          transform: rotate(45deg) translate(-7px, -7px)
          
  .navbar
    padding: 0px
    flex-direction: column
    transition: $main-transition
    background-color: #d5d5d5

    #main-nav
      width: 100%
      justify-content: space-between
      padding-top: 10px
      padding-bottom: 10px

  .menu-item
    a
      position: relative
      display: block
      font-family: $nimbus-font
      font-size: 25px
      font-weight: 900
      letter-spacing: 0.035em
      line-height: 40px
      color: #6b6b6b
      text-transform: uppercase
      text-decoration: none
      transition: $main-transition
      &::before
        position: absolute
        bottom: 3px
        left: 0
        content: ''
        display: block
        width: 30px
        height: 2px
        background-color: $main-green
        transform: scale3d(0, 1, 1)
        transform-origin: 0 50%
        transition: $main-transition
      &:hover
        &::before
          transform: scale3d(1, 1, 1)

#main-header.sticky
  position: sticky
  top: 0

.home.page-template-page-home
  #main-header
    position: absolute
    top: -95px
    width: 100%
    .navbar
      background-color: $main-grey
    .menu-item
      a
        color: #d5d5d5
  #main-header.sticky
    position: fixed
    top: 0
    .navbar
      background-color: #d5d5d5
    .menu-item
      a
        color: #6b6b6b
  .section.section-intro
    margin-top: 55px

.admin-bar
  #main-header
    top: 30px

.home.page-template-page-home.admin-bar
  #main-header
    top: -63px
  #main-header.sticky
    top: 30px

// Responsive
@include media-breakpoint-down(lg)
  #main-header
    top: 0px
    position: fixed
    width: 100%
    .site-branding
      background-color: #d5d5d5
      padding: 20px 0px
      .site-logo
        .custom-logo-link
          img
            max-width: 150px
    .navbar
      padding: 0px 0px
      background-color: $main-grey
      #main-nav
        height: calc( 100vh - 76px )
        justify-content: center
        .menu-item
          a
            font-size: 30px
            padding-top: 10px
            padding-bottom: 10px

  .home
    #main-content
      margin-top: 20px
  #main-content
    width: 100%
    margin-top: 76px
    overflow: hidden

  .home.page-template-page-home
    #main-header
      top: 0px
      position: fixed

  .home.page-template-page-home.admin-bar
    #main-header
      top: 30px
      position: fixed
