#main-header
  .navbar
    .site-branding
      .site-logo
        svg
          max-width: 40px
          height: auto
          fill: $text-color
  
.navbar-nav
  .menu-item
    .nav-link
      font-family: $main-font
      font-size: 16px
      font-weight: 300
      color: $text-color
      text-decoration: none


@include media-breakpoint-up(lg)
  .navbar-expand-lg
    padding-top: 35px
    padding-bottom: 30px
    .navbar-collapse
      justify-content: flex-end
    .navbar-nav
      .nav-link
        padding-right: 1.6rem
        padding-left: 1.6rem

  .menu-button
    &__start
      .nav-link
        background-color: $accent-color
        font-size: 12px !important
        line-height: 16px
        text-transform: uppercase
        color: #F7F7F7 !important
        border-radius: 30px
        padding: 1.1rem 3rem 0.9rem !important
        margin-left: 3rem
        box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important