.post-template-default
  
  .section-intro
    padding-top: 200px
    padding-bottom: 80px

  .section-content
    .post-content
      margin-bottom: 100px
      img
        &:first-of-type
          width: 100%
          max-width: 100%
          height: auto
          object-fit: cover
          margin-bottom: 40px
      .post-title
        font-family: $second-font
        font-weight: 600
        font-size: 26px
        letter-spacing: 0.23039999999999997px
        margin-bottom: 15px
        color: $text-color

      .related-categories
        list-style-type: none
        margin: 0
        padding: 0
        margin-bottom: 20px
        display: flex
        li
          font-family: $main-font
          font-weight: 300
          font-size: 14px
          letter-spacing: 0.36px
          margin-right: 5px
          color: $text-color
          &:last-of-type
            margin-right: 0
      p
        font-size: 16px
        line-height: 30px
        margin-bottom: 30px
        color: $text-color
        a
          font-family: $main-font
          font-weight: 300
          font-size: 16px
          text-decoration: none
          line-height: 30px
          margin-bottom: 30px
          color: $main-color
          &:hover
            color: $accent-color
    .post-sidebar
      z-index: 8
      .menu,
      .related-services
        list-style-type: none
        padding: 0
        padding: 0
        margin: 0
        margin-bottom: 20px
        .menu-item,
        li
          padding-bottom: 20px
          a
            font-family: $second-font
            font-weight: 100
            font-size: 19px
            line-height: 1
            letter-spacing: 0.2px
            text-decoration: none
            transition: all .3s ease-in
            color: $dark-color
            &:hover
              color: $accent-color
      &__title
        font-family: $main-font
        font-weight: 400
        font-size: 16px
        letter-spacing: 0.2px
        margin-bottom: 25px
        color: $dark-color

.section-navigation
  padding-top: 60px
  padding-bottom: 60px
  background-color: #DEE3E4
  position: relative
  z-index: 9
  .previous-post,
  .next-post
    a
      display: flex
      align-items: center
      font-family: $second-font
      font-weight: 300
      font-size: 23.04px
      letter-spacing: 0.2304px
      text-decoration: none
      transition: all .3s ease-in
      color: $text-color
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      svg
        display: block
        transition: all .3s ease-in
        margin-top: 5px
        fill: $main-color
      &:hover
        color: $accent-color
        svg
          fill: $accent-color
  .next-post
    a
      justify-content: flex-end
  .previous-post
    svg
      margin-right: 10px
  .next-post
    svg
      margin-left: 10px

@import "single-services"
@import "single-projects"
@import "single-case-studies"


@include media-breakpoint-up(lg)
  .post-template-default
    .section-content
      .post-sidebar
        position: -webkit-sticky
        position: -moz-sticky
        position: -ms-sticky
        position: -o-sticky
        position: sticky
        height: 820px
        background: transparent
        top: 120px
        bottom: auto
        z-index: 8
  .section-navigation
    .previous-post,
    .next-post
      a
        font-size: 20px

@include media-breakpoint-down(sm)
  .section-navigation
    .previous-post,
    .next-post
      a
        font-size: 19px
        word-wrap: break-word
        overflow-wrap: break-word
        -webkit-hyphens: auto
        -moz-hyphens: auto
        hyphens: auto
        white-space: normal
    .previous-post
      margin-bottom: 30px