.services-template-default, .services-template-page-templates
  .section-intro
    display: flex
    justify-content: center
    align-items: center
    padding-top: 200px
    padding-bottom: 200px
    &--dark
      background-color: $dark-color
      .section__title
        &--wrapper
          margin-bottom: 40px
        &--line
          background-color: $bg-color
      .section__subtitle
        font-size: 47.78px
        letter-spacing: 0.9556px
        line-height: 54px
        margin-bottom: 70px
        color: $bg-color
      .section__description
        font-size: 16px
        line-height: 30px
        color: $bg-color
    &--light
      background-color: #DEE3E4
      .section__title
        &--wrapper
          margin-bottom: 40px
        &--line
          background-color: $dark-color
      .section__subtitle
        font-size: 47.78px
        letter-spacing: 0.9556px
        line-height: 54px
        margin-bottom: 70px
        color: $dark-color
      .section__description
        font-size: 16px
        line-height: 30px
        color: $dark-color

.services-template-service-newsletter
  .services
    &__overview
      &-title
        font-size: 20px
        font-weight: 400
        line-height: 24px
        margin-bottom: 50px
        color: $main-color
      &-description
        font-size: 14px
        font-weight: 300
        line-height: 30px
        color: $dark-color
        max-width: 80%
      &-listItem
        font-size: 14px
        font-weight: 600
        line-height: 16px
        color: $dark-color
        margin-bottom: 0
        padding-bottom: 6px
        &:not(:first-child)
          padding-top: 6px


@include media-breakpoint-down(lg)
  .services-template-default, .services-template-page-templates
    .section-intro
      height: auto
      padding-top: 150px
      &--dark
        .section__subtitle
          font-size: 37.78px
          line-height: 44px

  .services-template-service-newsletter
    .services
      &__overview
        &-description
          max-width: 100%