.card-service
  margin-bottom: 30px
  &__content
    padding: 50px 40px 40px
    background-color: #fff
    box-shadow: 0px 3px 20px #0000000D
    transition: background-color 0.3s ease-in
    &-link
      text-decoration: none
      &:hover
        .card-service__content
          background-color: $main-color
          p
            color: $dark-color
          hr
            border-top-color: $dark-color
            opacity: 0.8
          .card-service__title
            h3
              color: $bg-color
          .card-service__btn
            color: $dark-color
            svg
              fill: $dark-color
  &__title
    text-decoration: none
    h3
      font-family: $second-font
      font-size: 23.04px
      font-weight: 300
      letter-spacing: 0.46079999999999993px
      margin-bottom: 40px
      transition: all .3s ease-in
      color: $main-color
  p
    font-size: 14px
    line-height: 25px
    margin-bottom: 40px
    color: #496063
    // Addition lines for 4 line or multiline ellipsis
    text-overflow: ellipsis
    overflow: hidden
    display: -webkit-box !important
    -webkit-line-clamp: 4
    -webkit-box-orient: vertical
    white-space: normal
  hr
    transition: all 0.3s ease-in
    border-top-width: 2px
    border-top-color: #707070
    margin-bottom: 20px
    opacity: 0.6
  &__btn
    display: flex
    justify-content: space-between
    align-items: center
    font-family: $second-font
    font-weight: 300
    font-size: 19px
    letter-spacing: 0.38px
    text-decoration: none
    transition: all .3s ease-in
    color: $text-color
    svg
      margin-left: 5px
      transition: all .3s ease-in
      fill: $main-color

.card-project
  margin-bottom: 40px
  > a
    position: relative
  figure
    margin-bottom: 20px
    overflow: hidden
    img
      max-width: 100%
      width: 100%
      height: auto
      object-fit: cover
      transform: scale(1)
      transition: all .3s ease-in
    &:hover::after
      background-image: linear-gradient(0,rgba(18,35,43,.85),rgba(18,35,43,.70))
      filter: contrast(1.5)
      content: ""
      height: 100%
      left: 0
      position: absolute
      top: 0
      width: 100%
    &:hover
      img
        transform: scale(1.1)
  &__hover-title
    visibility: hidden
    opacity: 0
    transition: all .3s ease-in
    position: absolute
    top: 45%
    left: 50%
    transform: translate(-50%, -50%)
    color: $main-color
  &__title
    text-decoration: none
    h3
      font-family: $second-font
      font-size: 23.04px
      font-weight: 300
      letter-spacing: 0.46079999999999993px
      transition: all .3s ease-in
      color: $text-color
    &:hover
      h3
        color: $accent-color
  &__content
    margin-left: 40px
    .related-services
      padding: 0
      margin: 0
      list-style: none
      li
        display: inline-block
        font-family: $main-font
        font-size: 14px
        font-weight: 300
        letter-spacing: 0.36px
        line-height: 25px
        margin-right: 5px
        color: #496063

.card-project a:hover + .card-project__hover-title
  visibility: visible
  opacity: 1

.card-post
  margin-bottom: 40px
  figure
    margin-bottom: 20px
    overflow: hidden
    img
      max-width: 100%
      width: 100%
      height: auto
      object-fit: cover
      transform: scale(1)
      transition: all .3s ease-in
    &:hover
      img
        transform: scale(1.1)

  &__title
    text-decoration: none
    h3
      font-family: $second-font
      font-size: 23.04px
      font-weight: 300
      letter-spacing: 0.46079999999999993px
      transition: all .3s ease-in
      color: $text-color
    &:hover
      h3
        color: $accent-color
  .related-categories
    display: flex
    list-style-type: none
    margin: 0
    padding: 0
    margin-bottom: 20px
    li
      font-family: $main-font
      font-size: 12px
      letter-spacing: 0.36px
      line-height: 30px
      margin-right: 5px
      color: #496063
      &:last-of-type
        margin-right: 0
  p
    font-size: 16px
    line-height: 30px
    color: #496063
    // Addition lines for 3 line or multiline ellipsis
    text-overflow: ellipsis
    overflow: hidden
    display: -webkit-box !important
    -webkit-line-clamp: 3
    -webkit-box-orient: vertical
    white-space: normal
  &__btn
    display: flex
    align-items: center
    font-family: $second-font
    font-weight: 300
    font-size: 19px
    letter-spacing: 0.36px
    line-height: 25px
    text-decoration: none
    transition: all .3s ease-in
    margin-top: 15px
    color: $main-color
    svg
      margin-top: 10px
      margin-left: 10px
      transition: all .3s ease-in
      fill: $main-color
    &:hover
      color: $accent-color
      svg
        fill: $accent-color

.card-related
  &-post
    margin-bottom: 30px
    &__content
      background-color: #fff
      box-shadow: 0px 3px 20px rgb(0 0 0 / 5%)
      img
        width: 100%
    &__title
      font-family: $second-font
      font-size: 19px
      font-weight: 600
      letter-spacing: 0.1px
      margin-bottom: 10px
      transition: all .3s ease-in
      color: $text-color
    &__categ
      font-family: $main-font
      font-size: 12px
      font-weight: 400
      letter-spacing: 0.3px
      margin-bottom: 20px
      color: $main-color
    &__text
      font-family: $main-font
      font-size: 12px
      font-weight: 400
      letter-spacing: 0.3px
      margin-bottom: 0px
      color: $text-color
    &__link
      text-decoration: none
      &:hover
        .card-related-post__title
          color: $main-color
