.section-form
  .wpcf7
    .wpcf7-form
      label
        display: block
        font-size: 13.33px
        font-weight: 400
        letter-spacing: 0.7998px
        line-height: 16px
        text-transform: uppercase
        margin-bottom: 10px
        color: $dark-color
        visibility: visible
      .wpcf7-form-control-wrap
        display: block
        margin-bottom: 20px
        .wpcf7-form-control
          padding: 15px
          width: 100%
          border: none
      .wpcf7-submit
        float: right
        padding: 10px 40px
        margin: 16px 0px 26px
        font-family: $main-font
        font-size: 14px
        font-weight: 400
        text-transform: uppercase
        letter-spacing: 0.46px
        border: 1px solid $dark-color
        border-radius: 20px
        
        transition: all .3s ease-in
        background-color: $dark-color
        color: $main-color
        svg
          transition: all .3s ease-in
          fill: $dark-color
        &:hover
          color: $dark-color
          background-color: $accent-color
          border: 1px solid $accent-color
          svg
            fill: $dark-color

      .wpcf7-not-valid-tip
        font-family: $main-font
        font-weight: 400
        font-size: 14px
        letter-spacing: 0.7998px
        line-height: 16px
        padding-top: 10px

.page-template-page-home
  .section-form
    .wpcf7
      .wpcf7-form
        .wpcf7-submit
          float: right !important

@include media-breakpoint-down(lg)
  .section-form
    .wpcf7
      .wpcf7-form
        label
          visibility: hidden
          max-height: 0
    form > .row > .col-12
      padding-right: calc(var(--bs-gutter-x) * 0.5)
      padding-left: calc(var(--bs-gutter-x) * 0.5)
  .section-st-project.section-form
    .wpcf7
      .wpcf7-form
        label
          visibility: visible